.explanation
  Simply fill in the details below, supply an HTML file to use as a template. Then Send. 
%h2 Create your email

%form{:action => '/', :method => 'post', :enctype => 'multipart'}
  .row
    .column.half.first
      %fieldset
        %legend To / From
        %p
          %label
            To 
            %span.desc (Who are you sending your e-mail to)
          %input{:name => "mymail[to]"}
        %p
          %label
            Salutation
            %span.desc (Hello *Saluation* will be inserted)
          %input{:name => "mymail[salutation]"}
        %p
          %label
            From
            %span.desc (Your Email address)
          %input{:name => "mymail[from]"}
  
    .column.half
      %fieldset
        %legend Message & Main Content
        %p
          %label
            Title
            %span.desc (The Subject of your e-mail.)
          %input{:name => "mymail[title]"} 
        %p
          %label
            Your Message
            %span.desc (This will be inserted into the e-mail.)
          %textarea{:name => "mymail[message]"}
        
        %label Upload your HTML template file
        %input{:type => "file", :name => 'template'}
  .row  
    %input{:type => 'submit', :value => 'Send Your Email', :class => 'button'}